{% extends "layout-responsive.html" %}

{% block meta_description %}
Register for a Perma.cc account. Welcome aboard.
{% endblock %}

{% block bodyclass %}_signup _unaffiliated{% endblock %}


{% block content %}
<div class="lockup">
	<h1 class="signup-title">Sign up with Perma.cc</h1>
	<p class="signup-description">Perma.cc is free to use for anyone. However, some types of users and organizations have special privileges and responsibilities. Select the affiliation that best describes you or your organization to learn more and get started creating an account. See <a href="#">our documentation</a> for more about Perma.cc’s affiliations and roles.</p>
</div>

<div class="signup-overview">
	<div class="signup-overview-container">
		<div class="signup-module _active" id="module-unaffiliated">
			<a class="signup-module-content" href="{% url 'sign_up' %}">
				<strong class="toc-module-title">Individual</strong>
				<p class="toc-module-description">Anyone can create a free account and start creating Perma Links.</p>
			</a>
		</div>
		<div class="signup-module" id="module-libraries">
			<a class="signup-module-content" href="{% url 'libraries' %}">
				<strong class="toc-module-title">Libraries</strong>
				<p class="signup-module-description">Libraries play a critical role in powering and supporting Perma.cc.</p>
			</a>
		</div>
		<div class="signup-module" id="module-journals">
			<a class="signup-module-content" href="{% url 'sign_up_journals' %}">
				<strong class="toc-module-title">Journals</strong>
				<p class="signup-module-description">Over 150 academic law journals prevent link rot with Perma.cc.</p>
			</a>
		</div>
		<div class="signup-module" id="module-courts">
			<a class="signup-module-content" href="{% url 'sign_up_courts' %}">
				<strong class="signup-module-title">Courts</strong>
				<p class="signup-module-description">Courts care deeply about the long-term accuracy, integrity and reliability of the citations in their opinions.</p>
			</a>
		</div>
		<div class="signup-module" id="module-faculty">
			<a class="signup-module-content" href="{% url 'sign_up_faculty' %}">
				<strong class="signup-module-title">Faculty</strong>
				<p class="signup-module-description">Faculty use Perma.cc to prevent link rot in their scholarship.</p>
			</a>
		</div>
	</div>
</div>


<div class="container signup-learnMore">
	<div class="row">
	    <div class="col-sm-4 signup-learnMore-form">	
	        <h2>Create an individual account</h2>	
			<form method="post" action="">
				{% csrf_token %}
				 <fieldset>
					{% for field in form %}
						<div class="form-group{% if field.errors %} _error{% endif %}">
							<label for="id_{{ field.name }}">{{ field.label }}</label>
							{{ field }}
							{% if field.errors %}
								{% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
							{%elif field.help_text %}
								<span class="help-inline">{{ field.help_text }}</span>
							{% endif %}
						</div>
					{% endfor %}
                	{% if form.non_field_errors %}<span class="text-error">{{ form.non_field_errors }}</span>{% endif %}
					<p><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
				 </fieldset>
				<button type="submit" class="btn btn-success">Create account</button>
			</form>
		</div>
	    <div class="col-sm-8 signup-learnMore-content">
            <h2>Perma.cc for individual users</h2>
            <p>Anyone can create a free, individual Perma.cc account, which will allow you to create unvested links. Just complete this form to get started.</p>
			<p>Please note that for your links to be saved in the permanent archive they will have to be approved by someone with vesting authority. To learn more about how Perma.cc works and the limitations of unvested links, please review our <a href="{% url 'docs' %}">user guide</a>.
		</div>
	</div>
</div>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=email]:first').focus();
});
</script>
{% endblock scripts %}
