/////////////////////////

// placeholders used to extend common elements

%style-clears-floats {
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}

%style-block-centered {
	margin-left: auto;
	margin-right: auto;
}

%style-container {
	@extend %style-block-centered;
	@extend %style-clears-floats;
	padding-left: $grid;
	padding-right: $grid;
	max-width: $width-max;
	overflow: hidden;
	@include respond-tablet {
		padding-left: $double;
		padding-right: $double;
	}
}

%style-vcenter-parent {
	display: table;
}

%style-vcenter-child {
	display: table-cell;
	vertical-align: middle;
}

%style-body-text {
	font-size: 18px;
	font-weight: 300;
	font-family: $font-body;
	line-height: 1.5;
}

%style-docs-ah {
    font-size: 24px;
    border-top: 1px solid $color-blue;
    padding-top: $grid;
    margin-top: $grid * 8;
    font-family: $font-hed-alt;
    font-weight: 700;
    color: $color-blue;
    &:first-child {
        margin-top: 0;
    }
}

%style-docs-bh {
    font-size: 18px;
    border-top: 1px solid $color-black;
    padding-top: $grid;
    margin-top: $grid * 6;
    font-family: $font-hed-alt;
    font-weight: 700;
    color: $color-black;
}